.login-popup-fun .login-popup-mask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0.5;
  z-index: 100;
}

.login-popup-fun .login-popup {
  position: fixed;
  z-index: 200;
  width: 360px;
  height: 410px;
  background-color: #fff;
  left: 50%;
  top: 50%;
  margin-top: -180px;
  margin-left: -205px;
}
