.usr-setting.invitation{
	@include manwidth();
	margin-top: 20px;
	.left{
		float: left;
		width: 290px;
		text-align:center;
		.left-top{
			border-radius:5px;
			overflow:hidden;
			background-color: #fff;
			padding: 40px;
			font-size: 14px;
			.usr-info{
				img{
					margin-bottom: 20px;
					width: 80px;
					height: 80px;
				}
			}
			.usr-name{
				font-size: 18px;
				color:#333;
			}
			.usr-desc{
				color:#808080;
				margin-top: 12px;
			}
			.invitation-btn{
				a{
					margin-bottom: 0;
					margin-top: 35px;
				}
			}
		}
		.left-bottom{
			border-radius:5px;
			overflow:hidden;
			background-color: #fff;
			margin-top: 10px;
			margin-bottom: 20px;
			text-align:left;
			color:#333;
			padding: 0px 0 10px 0;
			.classes{
				.class{
					border-bottom:1px solid #e6e6e6;
					&:last-child{
						border:none;
					}
					.class-title{
						font-size: 16px;
						position: relative;
						line-height: 35px;
						padding-left: 20px;
						margin-top: 5px;
						&.active{
							color:$themecolor;
							&::before{
								content:'';
								display: block;
								position: absolute;
								top: 0;
								left: 0;
								width: 3px;
								height: 100%;
								background-color: $themecolor;

							}
						}
					}
					.class-items{
						padding-left: 30px;
						.class-item{
							font-size: 14px;
							line-height: 30px;
							.fa{
								margin-right: 10px;
							}
							&.active{
								color:$themecolor;
							}
						}
					}
				}
				
			}
		}
	}
	.right{
		background-color: #fff;
		border-radius:5px;
		overflow:hidden;
		margin-left: 10px;
		width: 890px;
		float: left;
		margin-bottom: 20px;
		.usr-setting-change,.invitation{
			.usr-logo{
				display: block;
				margin: 30px auto 20px auto;
			}
			.usr-name{
				font-size: 18px;
				color:#333;
				text-align:center;
			}
			.pdl28{
				padding-left: 28px;
			}
			.info-tips{
				color:#333;
				font-size: 14px;
				margin-bottom: 20px;
			}
			.info-change{
				font-size: 14px;
				line-height: 20px;
				margin: 20px;
				.info-title{
					width: 60px;
					text-align:right;
					position: relative;
					margin-right: 40px;
					color:#808080;
					&.important{
						&::before{
							content:'*';
							color:#f02;
							display: block;
							position: absolute;
							left: 0;
							top: 0px;
						}
					}
					&.higher{
						line-height: 40px;
					}

				}
				.info-notice{
					color:#808080;
				}
			}
		}
		.save-basic{
			display: block;
			margin: 30px auto;
			width: 60px;
		}
		.contact{
			.info-tips{
				margin: 20px 0;
			}
			.pretty-input-text{
				width: 200px;
				float: left;
				padding-right: 20px;
			}
		}
	}
}