@import "../build-base/site-config.scss";
html{
	body{
		
		.search{
			background-color: #fff;
		}
		.section{
			
		}
		.ad{
			img{
				margin-top: 0;
			}
		}
		footer{
			background-color: $footerbackground;
		}
	}
}