.activity{
	padding-top: 10px;
	ul{
		@include manwidth();
		li{
			&.activity-item{
				border-radius:5px;
				overflow:hidden;
				position: relative;
				margin-bottom: 10px;
				.activity-tag{
					position: absolute;
					top: 0;left: 0;
					width: 100px;height: 30px;
					color:#fff;
					text-align:center;
					line-height: 30px;
					background-color: rgba(0,0,0,0.43);
					font-size: 16px;
					&.offline{
						color:#fff;
						background-color: $themecolor;
					}
				}
				.activity-banner{
					width: 730px;
					float: left;
					img{
						width: 100%;
					}
				}
				.activity-desc{
					height: 340px;
					width: 460px;
					float: left;
					font-size: 12px;
					position: relative;
					line-height: 35px;
					padding-left: 20px;
					padding-top: 25px;
					background-color: #fff;
					border-bottom-right-radius:5px;
					.out-time{
						position: absolute;
						top: 25px;
						right: 0;
						padding-left: 10px;
						width: 135px;
						background-color: $themecolor;
						color:#fff;
						font-size: 14px;
						line-height: 32px;
						&::before,&::after{
							position: absolute;
							top: 0;
							left: -16px;
							content:'';
							display: block;
							width: 0;height: 0;
							border-width:8px;
							border-style:solid;
							border-color:$themecolor $themecolor transparent transparent;
						}
						&::after{
							top: 16px;
							border-color: transparent $themecolor $themecolor  transparent;
						}
					}
					.activity-title{
						font-size: 16px;
						font-weight: bold;
					}
					.activity-time{

					}
					.activity-desc-text{

					}
					.activity-city{
						color:$themecolor;

					}
					.activity-hot-info{
						position: absolute;
						bottom: 0;
						left: 0;
						right: 0;
						height: 58px;
						border-top:1px solid #e6e6e6;
						padding-top: 10px;
						.publish-time{
							float: left;
							width: 240px;
							padding-left: 20px;
							img{
								position: relative;
								top: 2px;
							}

						}
					}
				}

			}
		}
	}
}
// @import "./focus.scss";
