@import "../../build-base/site-config.scss";
html{
	body{
		header{
		}
		.search{
			background-color: #fff;
			.site-search{
			}
		}
		.search-box-par{
			float: left;
			.search-more-picture{
				width: 290px;
				margin-top: 10px;
				border-radius:5px;
				overflow:hidden;
				margin-left: 10px;
			}
		}
		.entrust-detail .entrust-detail-owner{
			padding-bottom: 18px;
			float:none;

		}
		footer{
			background-color: $footerbackground;
		}
	}
}