$bordercolor:#e6e6e6;
.login-pannel{
	width: 360px;
	height: 410px;
	background: #fff;
	a{
		user-select:none;
	}
	.tabs{
		height: 50px;
		font-size: 20px;
		border-bottom:1px solid $bordercolor;
		&::before{
			content:'';
			display: block;
			position: absolute;
			left: 50%;
			top: 10px;
			height: 30px;
			width: 1px;
			background-color: $bordercolor;
		}
		.tab{
			float: left;
			width: 50%;
			text-align:center;
			user-select:none;
			span{ position: relative; line-height: 49px;display: inline-block;cursor:pointer;}
			&.active{
				color:$themecolor;
				span::before{
					content:'';
					display: block;
					position: absolute;
					bottom: 0px;
					left: 4px;
					right:4px;
					height: 2px;
					background-color: $themecolor;
				}
			}
		}
	}
	.panels{
		font-size: 14px;
		.panel{
			display: none;
			&.active{
				display: block;
			}
		}
		.sigin{
			padding: 0px 20px 0px 20px;
			.sigin-notice{
				text-indent:10px;
				line-height: 24px;
				color:#333;
				height: 26px;
				font-size: 12px;
				background-color: #ffeeee;
				border:1px solid #ff3535;
				margin: 6px 0 8px 0;
				img{
					margin-right: 10px;
					position: relative;
					top: 2px;
				}
			}
			.sigin-info{
				height: 120px;
				.sigin-box{
					line-height: 34px;
					position: relative;
					border:1px solid $bordercolor;
					margin: 8px 0;
					input{
						width: 100%;
						text-indent:30px;
						border:none;
					}
					span{
						position: absolute;
						left: 10px;
						top: 5px;


					}
					&.sigin-pw{
						margin-top: 20px;
					}
					.verify-code{
						position: absolute;
						font-size: 12px;
						display: none;
						right: 0;
						top: 0;
						line-height: 35px;
						background-color: #f2f2f2;
						border-left:1px solid $bordercolor;
						width: 100px;
						text-align:center;
					}
				}
				.verfiy-code-notice{
					display: none;
					color: #808080;
					height: 13px;
				}
				&.phone{
					.verify-code{
						display: block;
					}
					.verfiy-code-notice{
						display: block;
						font-size: 12px;

					}

				}
			}
			.change-sigin-way{
				font-size: 12px;
				margin-top: 15px;
				a{
					img{
						position: relative;
						top: 5px;
						display: inline-block;
						margin-right: 10px;
					}
				}
				.normal{
					display: none;
				}
				.forget-pw{
					float: right;
					position: relative;
					top: 10px;
				}
				&.phone{
					.phone-sigin,.forget-pw{ display: none;}
					.normal{display: inline-block; }
				}

			}
			.sigin-btn{
				.login-now{
					width: 100%;
					height: 40px;
					margin: 0;
					margin-top: 10px;
					line-height: 40px;
					font-size: 20px;
				}
			}
			.third-sigin{
				.third-sigin-notice{
					margin-top: 20px;
					text-align:center;
					position: relative;
					font-size: 12px;
					color: #b3b3b3;
					.text{
						position: relative;
						background-color: #fff;
						display: inline-block;
						padding: 0 8px;
						z-index:10;

					}
					.ling-bg{
						position: absolute;
						left: 0;
						right: 0;
						top: 8px;
						height: 1px;
						background-color: $bordercolor;
						width: 100%;

					}
				}
				.third-sigin-btn{
					text-align:center;
					margin-top: 15px;
					font-size: 0;
					.third-sigin-link{
						display: inline-block;
						width: 50px;
						height: 50px;
						margin: 0 10px;
						background-image: url('../img/login/third-sigin.png');
						background-position: 0 0;
						background-repeat: no-repeat;
						&.wx{
							background-position: -72px 0;
						}
						&.wb{
							background-position: -143px 0;
						}
					}

				}
			}
			
		}
		.sigin-up{
			font-size: 12px;
			color:#333;
			padding: 40px 20px 20px 20px;
			.sigin-up-info{
				font-size: 0;
				border:1px solid $bordercolor;
				padding: 0 10px;
				margin-bottom: 20px;
				position: relative;
				.sigin-up-title{
					font-size: 14px;
					color:#333;
					width: 70px;
					display: inline-block;
					margin: 0 10px;

				}
				input{
					font-size: 12px;
					margin: 0;
					border:none;
				}
				.right-phone{
					position: absolute;
					right: 10px;
					top: 10px;
				}
				.verify-code{
					position: absolute;
					right: 0;
					top: 0;
					width: 100px;
					height: 35px;
					line-height: 35px;
					border-left:1px solid $bordercolor;
					background-color: #f2f2f2;
					font-size: 12px;
					text-align:center;
				}
				
				&.sigin-up-verify{
					margin-bottom: 8px;
				}
				&.sigin-up-pw{
					margin-top: 10px;
					margin-bottom: 10px;
				}
			}
			.sigin-up-notice{
				height: 13px;
				color:#b3b3b3;
				span{
					color:#333;
				}
			}
			.site-rules{
				margin-top: 20px;
				margin-bottom: 10px;
				input{
					position: relative;
					top: 0px;
				}
			}
			.sigin-up-btn{
				.btn{
					width: 100%;
					margin: 0;
					height: 40px;
					line-height: 40px;
					font-size: 20px;
				}
			}
			.siginer{
				margin-top: 15px;
				text-align:center;
			}
		}

	}
}