@import "../build-base/site-config.scss";
html{
	body{
		.page-inside-nav{
			&.eshop{
				.inside-nav{
					font-size: 16px;
					li{
						height: 36px;
						line-height: 36px;
						margin-left: 20px;
						&:first-child{
							margin-left: 0;
						}
					}
					a.active{
						font-size: 16px;
						&::after{
							content: '';
							display: block;
							position: absolute;
							bottom: 3px;
							left: 50%;
							margin-left: -5px;
							height: 0;
							width: 0;
							border-width:5px;
							border-style:solid;
							border-color: transparent transparent $themecolor transparent;
						}
					}
				}
				&.all{
					cursor:pointer;
					.inside-nav{
						padding-left: 200px;
						font-size: 16px;
						li{
							height: 36px;
							line-height: 36px;
							margin-left: 20px;
						}
					}
					.eshop-inside-nav{
						z-index: 12;
						@include manwidth();
						position: relative;
						.all-classes{
							position: absolute;
							left: 0;
							top: 0;
							width: 200px;
							height: 45px;
							z-index:101;
							.all-classes-title{
								padding: 9px 10px;
								font-size: 18px;
								width: 200px;
								color:#fff;
								background-color:$themecolor;
								line-height: 16px;
								.fa{
									margin-right: 9px;
								}
							}
							.all-classes-list{
								display: none;
								width: 200px;
								height: 400px;
								position: relative;
								overflow:visiable;
								background-color: #262626;
								border-top:1px solid #262626;
								font-size: 14px;
								.list-title{
									line-height: 31px;
									.classes-name{
										padding-left: 10px;
										color:#fff;
										img{
											margin-right: 5px;
											position: relative;
											top: 3px;
											&.name-icon{
												display: none;
											}
										}
										&:hover{
											background-color: #fff;
											color:#000;
											img{
												display: none;
												&.name-icon{
													display: inline-block;
												}
											}
										}
									}
									.list-item-box{
										display: none;
										border-style:solid;
										border-color:#343434;
										border-width:1px 1px 1px 0;
										position: absolute;
										left: 200px;
										width: 990px;
										top: -1px;
										right: 0;
										bottom: 0;
										background-color: #fff;
										color:#808080;
										padding-left: 30px;
										line-height: 26px;
										font-size: 0;
										.item-tips{
											padding-top: 10px;
											span{
												background-color: $themecolor;
												color:#fff;
												padding: 0 10px;
												border-radius:3px;
												display: inline-block;
												font-size: 12px;
												margin-right: 20px;
											}
										}
										.item-filter{
											.filter-title{
												width: 95px;
												font-size: 14px;
												padding-top: 5px;
											}
											.flex-item{
												margin-left: -30px;
												padding-right: 104px;
												position: relative;
												padding-top: 5px;
												&::before{
													content:'';
													display: block;
													position: absolute;
													right: 104px;
													top: 0;
													left: 30px;
													height: 1px;
													background-color: #e6e6e6;
												}
												&.none{
													&::before{
														display: none;
													}
												}
											}
											.filter-item{
												font-size: 14px;
												margin-left: 30px;
												float: left;
												&:hover{
													color:$themecolor;
												}
											}
										}
									}
									&:hover{
										.list-item-box{
											display: block;
										}
									}
								}
							}
							&:hover{
								.all-classes-list{
									display: block;
								}
							}
						}
					}
				}
				
				
			}
		}
		.brand{
			@include manwidth();
			margin-top: 20px;
			.brands-list{
				font-size: 0;
				margin-left: -1px;
				li{
					margin-left: 1px;
					margin-bottom: 1px;
					width: 118px;
					float: left;
					a{
						display: inline-block;
					}
					img{
						width:100%;
						display: block;
					}
					&.more-brand{
						font-size: 14px;
						color: #808080;
						text-align:center;
						vertical-align:middle;
						line-height: 89px;
						background-color: #fff;
					}
				}
			}
		}
		.seckill{
			@include manwidth();
			margin-top: 20px;
			.seckill-title{
				width: 190px;
				background-color: #e83632;
				text-align:center;
				user-select:none;
				h2{
					color:#fff;
					font-size: 30px;
					font-weight: normal;
					margin-top: 35px;
					margin-bottom: 5px;
					&+p{
						font-size: 21px;
						color: rgba(255, 255, 255, 0.5);
						margin-bottom: 15px;
					}
				}
				.seckill-time-remain{
					color:#fff;
					font-size: 16px;
					margin: 17px 0;
				}
				.time-remain-notice{
					width: 140px;
					margin: 0 auto;
					font-size: 24px;
					color:#fff;
					margin-bottom: 18px;
					.flex-item{
						background-color: rgba(0,0,0,0.67);
						line-height: 40px;
					}
				}

			}
			.seckill-list{
				width: 800px;
			}
			.seckill-scroll{
				.swiper-button{
					background-color: rgba(0, 0, 0, 0.2);
					color:#fff;
					width: 20px;
					height: 40px;
					font-size: 14px;
					background-image:none;
					text-align:center;
					line-height: 40px;
					cursor:pointer;
					&.swiper-button-prev{
						left: 0;
					}
					&.swiper-button-next{
						right: 0;
					}
				}
				.swiper-slide{
					background-color: #fff;
					text-align:center;
					& img{
						margin-top: 20px;
					}
					p{
						font-size: 14px;
						line-height: 26px;
						color: #4d4a4a;
						margin: 20px 0;
					}
					.seckill-action{
						font-size: 0;
						margin-bottom: 20px;
						a{
							width: 130px;
							height: 30px;
							background-color: #e83632;
							font-size: 14px;
							margin: 0;
							line-height: 30px;
							img{
								width: 9px;
								float: left;
								position: relative;
								top: -13px;
								left: 10px;
							}
						}
						del{
							font-size: 12px;
							color: #999999;
						}
					}
				}
			}
			.brands-seckill-scroll{
				background-color: #fff;
				width: 200px;
				margin-left: 1px;
				.swiper-slide{
					background-color: #fff;
					padding: 10px;
					.brands-item{
						background-color: #f2f2f2;;
						text-align:center;
						padding-bottom: 19px;
						color:$themecolor;
						img{
							margin: 21px 0;
						}
						h3{
							font-size: 18px;
							font-weight: normal;
						}
						.gap{
							width: 120px;
							height: 3px;
							background-color: #ff5500;
							margin: 10px auto;
						}
						h6{
							font-size: 14px;
							font-weight: normal;
						}
					}
				}
				.swiper-pagination-bullet{
					width: 6px;height: 6px;
					margin: 0 2px;
				}
			}
		}
		@mixin goodsmodule($color,$selector:' ') {
			.goods-module{
				@include manwidth();
				&#{$selector}{
					.module-title{
						line-height: 16px;
						padding: 10px 0;
						position: relative;
						padding-left: 15px;
						&::before{
							content:'';
							display: block;
							position: absolute;
							height: 16px;
							top: 10px;
							left: 0;
							width: 3px;
							background-color: $color;
						}
						.module-name{
							font-size: 16px;
							float: left;
							span{
								color:#333;
							}
						}
						.module-desc{
							font-size: 14px;
							span{
								color:#666;
							}
						}
					}
					.module-items{
						.goods-tips{
							width: 190px;
							min-width: 190px;
							max-width:190px;
							position: relative;
							img{
								display: block;
								height: 400px;
							}
							.tips-info{
								position: absolute;
								background-color: $color;
								bottom: 0;
								left: 0;
								right: 0;
								height: 100px;
								color:#fff;
								padding: 30px 0;
								text-align:center;
								.tips-title{
									font-size: 18px;
									margin-bottom: 7px;
								}
								.tips-desc{
									font-size: 14px;
								}
							}
						}
						.flex-item{
							.list-box{
								font-size: 0;
							}
							.goods-item{
								float: left;
								width: 200px;
								border:{
									bottom:1px solid #e6e6e6;
									left:1px solid #e6e6e6;
								}
								text-align:center;
								background-color: #fff;
								height: 200px;
								.goods-item-tips{
									font-size: 16px;
									color:#333;
									margin-top: 20px;
									margin-bottom: 5px;
								}
								.goods-item-desc{
									color:$color;
									font-size: 14px;
									margin-bottom: 5px;
								}
							}
						}
						
					}
					.module-brands{
						ul{
							font-size: 0;
							li{
								display: inline-block;
								width: 119px;
								border-left: 1px solid #e6e6e6;

							}
						}
					}
				}
			}
		}
		@include goodsmodule(rgba(255, 85, 0, 0.67),'.one');
		@include goodsmodule(rgba(255, 170, 0, 0.67),'.two');
		@include goodsmodule(rgba(43, 217, 159, 0.6),'.three');
		@import "../community/search/filter-choose.scss";
		.search-choose .filter-detail .filter-class.filtered .filter-item a::before{
		    background-image: url(../../img/close-normal.png);
		}
		.search-choose .filter-detail .filter-class.filtered .filter-item a:hover::before{
			background-image: url(../../img/close.png);
		}
		footer{
			background-color: #fff;
			.footer{
				color:#666;
				.aboutus{
					a{
						color:#666;
					}
				}
			}
		}
	}
}