@import "../build-base/site-config.scss";
html{
	body{
			/* eshop index */
		.page-inside-nav{
			&.eshop{
				.inside-nav{
					font-size: 16px;
					li{
						height: 36px;
						line-height: 36px;
						margin-left: 20px;
						&:first-child{
							margin-left: 0;
						}
					}
					a.active{
						font-size: 16px;
						&::after{
							content: '';
							display: block;
							position: absolute;
							bottom: 3px;
							left: 50%;
							margin-left: -5px;
							height: 0;
							width: 0;
							border-width:5px;
							border-style:solid;
							border-color: transparent transparent $themecolor transparent;
						}
					}
				}
				&.all{
					cursor:pointer;
					.inside-nav{
						padding-left: 200px;
						font-size: 16px;
						li{
							height: 36px;
							line-height: 36px;
							margin-left: 20px;
						}
					}
					.eshop-inside-nav{
						z-index: 12;
						@include manwidth();
						position: relative;
						.all-classes{
							position: absolute;
							left: 0;
							top: 0;
							width: 200px;
							height: 45px;
							z-index:101;
							.all-classes-title{
								padding: 9px 10px;
								font-size: 18px;
								width: 200px;
								color:#fff;
								background-color:$themecolor;
								line-height: 16px;
								.fa{
									margin-right: 9px;
								}
							}
							.all-classes-list{
								display: none;
								width: 200px;
								height: 400px;
								position: relative;
								overflow:visiable;
								background-color: #262626;
								border-top:1px solid #262626;
								font-size: 14px;
								.list-title{
									line-height: 31px;
									.classes-name{
										padding-left: 10px;
										color:#fff;
										img{
											margin-right: 5px;
											position: relative;
											top: 3px;
											&.name-icon{
												display: none;
											}
										}
										&:hover{
											background-color: #fff;
											color:#000;
											img{
												display: none;
												&.name-icon{
													display: inline-block;
												}
											}
										}
									}
									.list-item-box{
										display: none;
										border-style:solid;
										border-color:#343434;
										border-width:1px 1px 1px 0;
										position: absolute;
										left: 200px;
										width: 990px;
										top: -1px;
										right: 0;
										bottom: 0;
										background-color: #fff;
										color:#808080;
										padding-left: 30px;
										line-height: 26px;
										font-size: 0;
										.item-tips{
											padding-top: 10px;
											span{
												background-color: $themecolor;
												color:#fff;
												padding: 0 10px;
												border-radius:3px;
												display: inline-block;
												font-size: 12px;
												margin-right: 20px;
											}
										}
										.item-filter{
											.filter-title{
												width: 95px;
												font-size: 14px;
												padding-top: 5px;
											}
											.flex-item{
												margin-left: -30px;
												padding-right: 104px;
												position: relative;
												padding-top: 5px;
												&::before{
													content:'';
													display: block;
													position: absolute;
													right: 104px;
													top: 0;
													left: 30px;
													height: 1px;
													background-color: #e6e6e6;
												}
												&.none{
													&::before{
														display: none;
													}
												}
											}
											.filter-item{
												font-size: 14px;
												margin-left: 30px;
												float: left;
												&:hover{
													color:$themecolor;
												}
											}
										}
									}
									&:hover{
										.list-item-box{
											display: block;
										}
									}
								}
							}
							&:hover{
								.all-classes-list{
									display: block;
								}
							}
						}
					}
				}
				
				
			}
		}
		.brand{
			@include manwidth();
			margin-top: 20px;
			.brands-list{
				font-size: 0;
				margin-left: -1px;
				li{
					margin-left: 1px;
					margin-bottom: 1px;
					width: 118px;
					float: left;
					a{
						display: inline-block;
					}
					img{
						width:100%;
						display: block;
					}
					&.more-brand{
						font-size: 14px;
						color: #808080;
						text-align:center;
						vertical-align:middle;
						line-height: 89px;
						background-color: #fff;
					}
				}
			}
		}
		.seckill{
			@include manwidth();
			margin-top: 20px;
			.seckill-title{
				width: 190px;
				background-color: #e83632;
				text-align:center;
				user-select:none;
				h2{
					color:#fff;
					font-size: 30px;
					font-weight: normal;
					margin-top: 35px;
					margin-bottom: 5px;
					&+p{
						font-size: 21px;
						color: rgba(255, 255, 255, 0.5);
						margin-bottom: 15px;
					}
				}
				.seckill-time-remain{
					color:#fff;
					font-size: 16px;
					margin: 17px 0;
				}
				.time-remain-notice{
					width: 140px;
					margin: 0 auto;
					font-size: 24px;
					color:#fff;
					margin-bottom: 18px;
					.flex-item{
						background-color: rgba(0,0,0,0.67);
						line-height: 40px;
					}
				}

			}
			.seckill-list{
				width: 800px;
			}
			.seckill-scroll{
				.swiper-button{
					background-color: rgba(0, 0, 0, 0.2);
					color:#fff;
					width: 20px;
					height: 40px;
					font-size: 14px;
					background-image:none;
					text-align:center;
					line-height: 40px;
					cursor:pointer;
					&.swiper-button-prev{
						left: 0;
					}
					&.swiper-button-next{
						right: 0;
					}
				}
				.swiper-slide{
					background-color: #fff;
					text-align:center;
					& img{
						margin-top: 20px;
					}
					p{
						font-size: 14px;
						line-height: 26px;
						color: #4d4a4a;
						margin: 20px 0;
					}
					.seckill-action{
						font-size: 0;
						margin-bottom: 20px;
						a{
							width: 130px;
							height: 30px;
							background-color: #e83632;
							font-size: 14px;
							margin: 0;
							line-height: 30px;
							img{
								width: 9px;
								float: left;
								position: relative;
								top: -13px;
								left: 10px;
							}
						}
						del{
							font-size: 12px;
							color: #999999;
						}
					}
				}
			}
			.brands-seckill-scroll{
				background-color: #fff;
				width: 200px;
				margin-left: 1px;
				.swiper-slide{
					background-color: #fff;
					padding: 10px;
					.brands-item{
						background-color: #f2f2f2;;
						text-align:center;
						padding-bottom: 19px;
						color:$themecolor;
						img{
							margin: 21px 0;
						}
						h3{
							font-size: 18px;
							font-weight: normal;
						}
						.gap{
							width: 120px;
							height: 3px;
							background-color: #ff5500;
							margin: 10px auto;
						}
						h6{
							font-size: 14px;
							font-weight: normal;
						}
					}
				}
				.swiper-pagination-bullet{
					width: 6px;height: 6px;
					margin: 0 2px;
				}
			}
		}
		.shopping-notice{
			background-color: #f2f2f2;;
			margin-top: 20px;
			.tips{
				@include manwidth();
				padding-top: 20px;
				padding-bottom: 30px;
				border-bottom:1px solid #d9d9d9;
				ul{
					font-size: 0;
					margin-left: -90px;
					li{
						font-size: 16px;
						display: inline-block;
						margin-left: 90px;
						&.tips-item{
							.title{
								margin-top: 6px;
								margin-bottom: 6px;
								padding-left: 10px;
							}
							.desc{
								font-size: 12px;
								color:#666;
								padding-left: 10px;
							}
						}
					}
				}
			}
			.more-tips{
				@include manwidth();
				.more-tip{
					display: inline-block;
					margin-right: 146px;
					padding-top: 35px;
					padding-bottom: 30px;
					width: 65px;
					&:last-child{
						margin: 0;
					}
					.title{
						font-size: 16px;
						color:#333;
						margin-bottom: 10px;
					}
					.desc{
						font-size: 12px;
						color:#666;
						margin: 6px 0;
					}
				}
			}
		}
		@mixin goodsmodule($color,$selector:' ') {
			.goods-module{
				@include manwidth();
				&#{$selector}{
					.module-title{
						line-height: 16px;
						padding: 10px 0;
						position: relative;
						padding-left: 15px;
						&::before{
							content:'';
							display: block;
							position: absolute;
							height: 16px;
							top: 10px;
							left: 0;
							width: 3px;
							background-color: $color;
						}
						.module-name{
							font-size: 16px;
							float: left;
							span{
								color:#333;
							}
						}
						.module-desc{
							font-size: 14px;
							span{
								color:#666;
							}
						}
					}
					.module-items{
						.goods-tips{
							width: 190px;
							min-width: 190px;
							max-width:190px;
							position: relative;
							img{
								display: block;
								height: 400px;
							}
							.tips-info{
								position: absolute;
								background-color: $color;
								bottom: 0;
								left: 0;
								right: 0;
								height: 100px;
								color:#fff;
								padding: 30px 0;
								text-align:center;
								.tips-title{
									font-size: 18px;
									margin-bottom: 7px;
								}
								.tips-desc{
									font-size: 14px;
								}
							}
						}
						.flex-item{
							.list-box{
								font-size: 0;
							}
							.goods-item{
								float: left;
								width: 200px;
								border:{
									bottom:1px solid #e6e6e6;
									left:1px solid #e6e6e6;
								}
								text-align:center;
								background-color: #fff;
								height: 200px;
								.goods-item-tips{
									font-size: 16px;
									color:#333;
									margin-top: 20px;
									margin-bottom: 5px;
								}
								.goods-item-desc{
									color:$color;
									font-size: 14px;
									margin-bottom: 5px;
								}
							}
						}
						
					}
					.module-brands{
						ul{
							font-size: 0;
							li{
								display: inline-block;
								width: 119px;
								border-left: 1px solid #e6e6e6;

							}
						}
					}
				}
			}
		}
		@include goodsmodule(rgba(255, 85, 0, 0.67),'.one');
		@include goodsmodule(rgba(255, 170, 0, 0.67),'.two');
		@include goodsmodule(rgba(43, 217, 159, 0.6),'.three');
			/* search */
		@import "../community/search/filter-choose.scss";
		.search-choose .filter-detail .filter-class.filtered .filter-item a::before{
		    background-image: url(../../img/close-normal.png);
		}
		.search-choose .filter-detail .filter-class.filtered .filter-item a:hover::before{
			background-image: url(../../img/close.png);
		}
		.eshop-search-result{
			@include manwidth();
			margin-top: 20px;
			.result-filter{
				.filter-rules{
					font-size: 0;
					.btn{
						border-radius:0;
						margin: 0;
						margin-left: -1px;
						font-size: 14px;
						z-index:1;
						padding: 8px 15px;
						width:auto;
						line-height: 14px;
						&.active{
							background-color: $themecolor;
							color:#fff;
							border:1px solid $themecolor;
							z-index:-1;
							margin-left: 0;
						}
					}
					.down{
						.fa{
							&[class*='down']{
								display: inline-block;
							}
							&[class*='up']{
								display: none;
							}
						}
					}
					.up{
						.fa{
							&[class*='up']{
								display: inline-block;
							}
							&[class*='down']{
								display: none;
							}
						}
					}
					.price-filter{
						display: inline-block;
						font-size: 14px;
					}
					.price{
						position: relative;
						&.active{
							background-color: #fff;
							color:$themecolor;
							border-color:#4d4d4d;
							margin-left: -1px;
						}
						.fa{
							position: absolute;
							right: 4px;
							&[class*='up']{
								top: 4px;
							}
							&[class*='down']{
								top: 10px;
							}
						}
						&.down{
							.fa{
								display: inline-block;
								&[class*='up']{
									display: inline-block;
									color:#4d4d4d;
								}
								&[class*='down']{
									color:$themecolor;
								}
							}
						}
					}
					.price{
						&.up{
							.fa{
								display: inline-block;
								&[class*='up']{
									color:$themecolor;
								}
								&[class*='down']{
									color:#4d4d4d;
								}
							}
						}
					}
					input{
						display: inline-block;
						margin: 0 10px;
						width: 70px;
						height: 30px;
						padding: 4px 4px 4px 4px;
						color:$themecolor;
					}
				}
				.pull-right{
					font-size: 12px;
					color: #333333
				}
			}
			.result-list{
				margin-top: 20px;
				ul{
					font-size: 0;
					margin-left: -5px;
					li{
						display: inline-block;

					}
				}
				.item{
					background-color: #fff;
					font-size: 14px;
					width: 234px;
					margin-left: 5px;
					padding: 20px 17px;
					border-radius:5px;
					margin-bottom: 5px;
					img{
						display: block;
						margin: 0 auto;
					}
					.item-desc{
						color:#333;
						margin-top: 18px;
						line-height: 20px;
						span{
							font-size: 12px;
							color:$themecolor;
							border:1px solid $themecolor;
							border-radius:2px;
							line-height: 12px;
							padding: 0 4px;
						}
					}
					.price{
						font-size: 18px;
						color:$themecolor;
						margin-top: 8px;
						margin-bottom: 13px;
						span{
							font-size: 14px;
						}
					}
					.tags{
						font-size: 12px;
						margin-left: -10px;
						span{
							background-color: $themecolor;
							color:#fff;
							border-radius:3px;
							padding: 2px 3px;
							margin-left: 10px;
						}
					}

				}
			}
		}
		.onsell{
			@include manwidth();
			margin-top: 20px;
			ul{
				font-size: 0;
				margin-left: -10px;
				li{
					display: inline-block;
					margin-bottom: 10px;
					margin-left: 10px;
				}
			}
			.item{
				width: 590px;
				.item-tips{
					background-color: #fff;
					text-align:center;
					width: 190px;
					img{
						display: block;
						margin: 0 auto;
						margin-top: 20px;
					}
					.item-desc{
						font-size: 16px;
						color: #4d4d4d;
						margin-bottom: 38px;
					}
					.item-price{
						font-size: 20px;
						color: #ff5500;
						margin-bottom: 30px;
					}
					.item-time{
						font-size: 14px;
						color: #4d4d4d;
						span{
							letter-spacing:0;
						}
					}
				}
				.flex-item{
					position: relative;
					img{

					}
					.discount{
						position: absolute;
						left: 0;
						bottom: 0;
						right: 0;
						height: 50px;
						background-color: rgba(255, 255, 255, 0.8);
						font-size: 18px;
						color: #4d4d4d;
						line-height: 50px;
						text-align:center;
					}
				}
			}
		}
		.load-more-gap{
			height: 30px;
			background-color: #f7f7f7;
			font-size: 14px;
			color: #666666;
			text-align:center;
			line-height: 30px;
			cursor:pointer;
			user-select:none;
		}
		 // tickets
		.ticket-classes{
			background-color: #fff;
			.tickets{
				@include manwidth();
				font-size: 0;
				span{
					position: relative;
					display: inline-block;
					font-size: 16px;
					height: 60px;
					line-height: 60px;
					width: 119px;
					text-align:center;
					user-select:none;
					cursor:pointer;
					&.active{
						background-color:$themecolor;
						color:#fff;
					}
					&:hover{
						&::before{
							content:'';
							height: 3px;
							width: 100%;
							position: absolute;
							bottom: 0;
							left: 0;
							right: 0;
							background-color: $themecolor;
						}
					}
				}
			}
		}
		.ticket-lists{
			@include manwidth();
			margin-top: 20px;
			.ticket-list{
				font-size: 0;
				margin-left: -20px;
				.list-item{
					margin-left: 20px;
					margin-bottom: 20px;
					display: inline-block;
					font-size: 14px;
					position: relative;
					border-radius:5px;
					overflow:hidden;
					width: 383px;
					.item-title{
						background-color: $themecolor;
						color:#fff;
						line-height: 40px;
					}
					.gap{
						position: absolute;
						top: 35px;
						left: 0;
						right: 0;
						height: 10px;
						font-size: 0;
						overflow:hidden;
						background-image: url('../../img/eshop/hortcal.png');
						background-repeat: no-repeat;
						background-size: contain;
						background-size: 383px 10px;
					}

					.item-detail{
						background-color: #fff;
						padding: 15px;
						padding-top: 14px;
						.ticket-rm{
							color:$themecolor;
							font-size: 18px;
							padding-left: 25px;
							margin-top: 14px;
							small{
								font-size: 16px;
							}
						}
						.flex-item{
							position: relative;
							.gap-vertical{
								position: absolute;
								top: 0;
								left: 5px;
								width: 10px;
								height: 124px;
								font-size: 0;
								overflow:hidden;
								background-image: url('../../img/eshop/vertical.png');
								background-repeat: no-repeat;
								background-size: contain;
								background-size: 10px 115px;
								
							}
						}
						.ticket-st{
							padding-left: 25px;
							margin-top: 31px;
							.ticket-hold{
								font-size: 12px;
								margin-bottom: 9px;
							}
							.ticket-wedget{
								background-color: #e6e6e6;
								border-radius:3px;
								overflow:hidden;
								height: 6px;
								width: 88px;
								position: relative;
								span{
									position: absolute;
									left: 0;
									top: 0;
									height: 6px;
									border-radius:3px;
									background-color: $themecolor;
									display: inline-block;
									width: 40%;
								}
							}
							.btn{
								margin: 0;
								margin-left: 45px;
								margin-right: 6px;
								width: 86px;
								height: 26px;
								border-radius:14px;
								background-color: #fff;
								color:$themecolor;
								line-height: 26px;
							}
						}
					}
					&.over{
						.item-title{
							background-color: #cfcfcf;
						}
						.gap{
							background-image: url('../../img/eshop/hortcal-dis.png');
						}
						.item-detail {
							.ticket-rm{
								color:#cfcfcf;
							}
							.ticket-st{
								margin-top: 4px;
								img{
									display: block;

								}
								p{
									font-size: 12px;
									text-align:right;
									margin-top: 5px;
								}
								.btn{
									margin-top: 5px;
									color:#cfcfcf;
									border-color:#cfcfcf;
								}
							}
						}

					}
				}
			}
			.next-classes{
				@include manwidth();
				position: relative;
				span{
					height: 1px;
					background-color: #d9d9d9;;
					width: 100%;
					position: absolute;
					top: 20px;
					width: 100%;
					left: 0;
				}
				div{
					padding: 0 10px;
					background-color: #e6e6e6;
					width: 180px;
					margin: 0 auto;
					padding-bottom: 10px;
					z-index:10;
					position: relative;
					.btn{
						margin: 0;
						background-color: #fff;
						color:$themecolor;
						font-size: 16px;
						width: 160px;
						height: 40px;
						line-height: 40px;
						border-radius:3px;
						display: block;
					}
				}
			}
		}
		footer{
		
		}
	}
}