html body {
  /*! autoprefixer: off */ }
  html body .search {
    background-color: #fff; }
  html body .pet-list {
    padding: 10px;
    background-color: #fff;
    float: left;
    border-radius: 5px;
    padding-left: 0; }
    html body .pet-list ul {
      width: 880px;
      font-size: 0; }
      html body .pet-list ul .pet-item {
        display: inline-block;
        margin-bottom: 10px;
        margin-left: 13px;
        width: 280px;
        border: 1px solid #e6e6e6;
        border-radius: 5px;
        font-size: 14px;
        color: #4d4d4d; }
        html body .pet-list ul .pet-item:hover {
          border: 1px solid #ff5500; }
        html body .pet-list ul .pet-item .pet-logo {
          width: 278px;
          height: 160px; }
        html body .pet-list ul .pet-item .pet-name-hot {
          padding: 6px 20px;
          position: relative; }
          html body .pet-list ul .pet-item .pet-name-hot .hot {
            position: absolute;
            right: 10px;
            top: -4px; }
            html body .pet-list ul .pet-item .pet-name-hot .hot img {
              position: relative;
              top: 4px; }
        html body .pet-list ul .pet-item .pet-tag {
          padding: 6px 20px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis; }
          html body .pet-list ul .pet-item .pet-tag .special {
            color: #ff5500; }
  html body .usr-own-man {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 10px;
    background-color: #fff; }
    html body .usr-own-man .usr-own-box {
      width: 1190px;
      margin: 0 auto; }
      html body .usr-own-man .usr-own-box .usr-own {
        line-height: 50px;
        width: 900px;
        text-align: center; }
        html body .usr-own-man .usr-own-box .usr-own a {
          display: inline-block;
          margin: 0 18px; }
          html body .usr-own-man .usr-own-box .usr-own a.active {
            color: #ff5500;
            position: relative; }
            html body .usr-own-man .usr-own-box .usr-own a.active::before {
              content: '';
              display: block;
              position: absolute;
              bottom: 10px;
              width: 100%;
              height: 1px;
              background-color: #ff5500; }
            html body .usr-own-man .usr-own-box .usr-own a.active::after {
              content: '';
              display: block;
              position: absolute;
              bottom: 2px;
              left: 50%;
              margin-left: -4px;
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 4px;
              border-color: #ff5500 transparent transparent transparent; }
  html body .pet-title {
    color: #ff5500;
    font-size: 18px;
    line-height: 40px; }
  html body .pet-desc {
    height: 80px;
    text-align: justiyf;
    margin-bottom: 30px; }
  html body .entrust-lose .entrust-lose-list {
    padding: 10px 10px 0 10px;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden; }
  html body .entrust-lose .entrust-lose-list .entrust-lose-item {
    padding: 0 !important;
    height: 195px !important; }
  html body .entrust-lose .entrust-lose-list li {
    padding: 0 !important;
    border-radius: 0 !important;
    position: relative;
    margin-bottom: 15px !important; }
    html body .entrust-lose .entrust-lose-list li::before {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 1px;
      background-color: #e6e6e6; }
    html body .entrust-lose .entrust-lose-list li:last-child {
      margin-bottom: 0 !important; }
      html body .entrust-lose .entrust-lose-list li:last-child::before {
        display: none;
        margin-bottom: 0 !important; }
      html body .entrust-lose .entrust-lose-list li:last-child .entrust-lose-item {
        margin-bottom: 0 !important; }
  html body .entrust-lose .entrust-lose-list .entrust-lose-item .entrust-lose-desc .model-action {
    width: auto !important; }
  html body .entrust-lose .entrust-lose-list .entrust-lose-item .entrust-lose-desc .model-action .placeholder {
    width: 350px !important; }
/*# sourceMappingURL=usr-pet.css.map */