@import "../build-base/site-config.scss";
html{
	body{
		header{
			
		}
		.search{
			background-color: #fff;
			.site-search{
				
			}
		}
		.search .site-search .search-publish .publish input{font-size: 14px;}
		footer{
			background-color: $footerbackground;
		}
	}
}