@import "./normalize.css";
// site-base
$themecolor:#ff5500;
$topheadbackgound:#e6e6e6;
$headbackground:#fff;
$headtextcolor:#4d4d4d;
$darktext:#b3b3b3;
$bodybackground:$topheadbackgound;
$footerbackground:#333;
*{
	box-sizing:border-box;
	margin: 0;padding: 0;
}
a{
	text-decoration:none;
	color:$headtextcolor;
	&:hover{
		color:$themecolor;
	}
}
input{
	outline:none;
	padding: 10px;
	&[type='button']{
		cursor:pointer;
		&:hover{
			opacity:0.8;
		}
	}
}
ul{
	list-style:none;
}
.clearfix {
  overflow: auto;
  zoom: 1;
}
.section{
	// background-color: #fff;
}
.themecolor{
	color:$themecolor;
}
.themebg{
	background-color: $themecolor;
}
.pull-left{
	float: left;
}
.pull-right{
	float: right;
}
// font-size
.fz12{
	font-size: 12px;
}
.fz14{
	font-size: 14px;
}
.fz16{
	font-size: 16px;
}
.fz18{
	font-size: 18px;
}
.fz20{
	font-size: 20px;
}
// body color
body{
	background-color: $bodybackground;
	font-family:'yahei';
}
.flex{
	display:flex;
	.flex-item{
		flex:1;
	}
}
@mixin manwidth() {
	width:1190px;
	margin: 0 auto;
}