
&.models{
	background-color: $bodybackground;
	.model{
		@include manwidth();
		.model-name{
			height: 56px;
			padding: 20px 0 10px 0;
			.model-name-title{
				position: relative;
				display: block;
				color:#000;
				font-size: 16px;
				float: left;
				margin: 0 10px 0 0;
				width: 60px;
				padding-left: 20px;
				text-align:center;
				&::before{
					content:'';
					display: block;
					position: absolute;
					left: 0;
					top: 0;
					bottom: 0;
					width: 3px;
					height: 100%;
					background: $themecolor;
				}
			}
			ul{
				float: left;
				display: flex;
				list-style:none;
				li{
					display: inline-block;
					font-size: 14px;
					color:$darktext;
					margin-left: 15px;
					line-height: 18px;
				}
			}
			a{
				color:#808080;
				&.more{
					color:$themecolor;
					span{
						position: relative;
						top: -1px;
					}
				}
			}
		}
		.models-list{
			font-size: 0;
			margin-left: -10px;
			.model-item{
				display: inline-block;
				width: 230px;
				border-radius:4px;
				overflow:hidden;
				font-size: 12px;
				margin: 0 0 10px 10px;
				background-color: #fff;
				color:#333;
				p{
					overflow:hidden;
					white-space:nowrap;
					text-overflow:ellipsis;
					margin: 10px 0;
					text-indent:10px;
				}
				.model-action{
					padding: 0 10px;
					margin-bottom: 10px;
					@import "./focus.scss";
					img{
						vertical-align:middle;
					}
				}
			}
		}
	}
}
