@import url(../css/font-awesome-4.7.0/css/font-awesome.min.css);
@import url(./normalize.css);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: #4d4d4d; }
  a:hover {
    color: #ff5500; }

input {
  outline: none;
  padding: 10px; }
  input[type='button'] {
    cursor: pointer; }
    input[type='button']:hover {
      opacity: 0.8; }

ul {
  list-style: none; }

.clearfix {
  overflow: auto;
  zoom: 1; }

.btn {
  border: 1px solid #4d4d4d;
  color: #4d4d4d;
  background-color: #fff;
  font-size: 14px;
  display: inline-block;
  margin: 15px;
  width: 100px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 3px; }
  .btn.btn-theme, .btn .theme-btn {
    border: 1px solid #ff5500;
    color: #fff;
    background-color: #ff5500; }

.themecolor {
  color: #ff5500; }

.themebg {
  background-color: #ff5500; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.fz12 {
  font-size: 12px; }

.fz14 {
  font-size: 14px; }

.fz16 {
  font-size: 16px; }

.fz18 {
  font-size: 18px; }

.fz20 {
  font-size: 20px; }

body {
  background-color: #e6e6e6;
  font-family: 'yahei'; }

.flex {
  display: flex; }
  .flex .flex-item {
    flex: 1; }

html body header {
  width: 1190px;
  margin: 0 auto;
  height: 38px;
  line-height: 38px;
  color: #4d4d4d;
  background-color: #e6e6e6; }
  html body header .place-select {
    float: left; }
    html body header .place-select img {
      position: relative;
      top: 5px; }
    html body header .place-select select {
      border: none;
      background-color: inherit;
      -webkit-highlight-color: none;
      outline: none; }
  html body header .nav-site {
    display: flex;
    float: left;
    list-style: none; }
    html body header .nav-site li {
      margin-left: 18px; }
      html body header .nav-site li a {
        color: #4d4d4d;
        text-decoration: none; }
        html body header .nav-site li a.themecolor {
          color: #ff5500; }
  html body header .usr-help {
    width: 310px;
    font-size: 0; }
    html body header .usr-help .usr {
      float: left;
      font-size: 12px; }
      html body header .usr-help .usr img {
        position: relative;
        top: 3px; }
    html body header .usr-help .help {
      font-size: 12px; }
      html body header .usr-help .help a {
        margin-left: 24px; }
html body .search {
  background-color: #fff; }
  html body .search .site-search {
    width: 1190px;
    margin: 0 auto;
    height: 100px;
    color: #b3b3b3; }
    html body .search .site-search .logo {
      margin-top: 24px; }
    html body .search .site-search .search-publish {
      width: 800px;
      padding-top: 24px; }
      html body .search .site-search .search-publish .search-area {
        float: left;
        position: relative;
        font-size: 0; }
        html body .search .site-search .search-publish .search-area input[type='text'] {
          height: 40px;
          width: 500px;
          font-size: 16px;
          border: 2px solid #ff5500;
          float: left; }
          html body .search .site-search .search-publish .search-area input[type='text']:focus + span {
            display: none; }
        html body .search .site-search .search-publish .search-area input[type='button'] {
          width: 100px;
          color: #fff;
          font-size: 16px;
          background-color: #ff5500;
          border: 1px solid #ff5500; }
        html body .search .site-search .search-publish .search-area span {
          font-size: 16px;
          position: absolute;
          left: 12px;
          top: 10px;
          width: 20px;
          height: 20px; }
        html body .search .site-search .search-publish .search-area .hot-search {
          font-size: 12px;
          margin-top: 8px; }
          html body .search .site-search .search-publish .search-area .hot-search a {
            color: #b3b3b3; }
      html body .search .site-search .search-publish .publish input {
        margin-left: 100px;
        width: 100px;
        font-size: 16px;
        color: #fff;
        background-color: #ff5500;
        border: 1px solid #ff5500; }
html body .section.page-inside-nav {
  background-color: #fff; }
  html body .section.page-inside-nav .inside-nav {
    width: 1190px;
    margin: 0 auto;
    display: flex;
    list-style: none;
    font-size: 18px;
    color: #1a1a1a; }
    html body .section.page-inside-nav .inside-nav li {
      display: inline-block;
      margin-left: 30px;
      height: 45px;
      line-height: 45px; }
      html body .section.page-inside-nav .inside-nav li:first-child {
        margin-left: 0; }
      html body .section.page-inside-nav .inside-nav li a {
        color: #1a1a1a;
        display: block; }
        html body .section.page-inside-nav .inside-nav li a.active {
          color: #ff5500;
          position: relative;
          height: 100%;
          width: 100%;
          font-size: 20px; }
          html body .section.page-inside-nav .inside-nav li a.active::before {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 3px;
            background-color: #ff5500; }
html body .section .activity {
  padding-top: 10px; }
  html body .section .activity ul {
    width: 1190px;
    margin: 0 auto; }
    html body .section .activity ul li.activity-item {
      border-radius: 5px;
      overflow: hidden;
      position: relative;
      margin-bottom: 10px; }
      html body .section .activity ul li.activity-item .activity-tag {
        position: absolute;
        top: 0;
        left: 0;
        width: 100px;
        height: 30px;
        color: #fff;
        text-align: center;
        line-height: 30px;
        background-color: rgba(0, 0, 0, 0.43);
        font-size: 16px; }
        html body .section .activity ul li.activity-item .activity-tag.offline {
          color: #fff;
          background-color: #ff5500; }
      html body .section .activity ul li.activity-item .activity-banner {
        width: 730px;
        float: left; }
        html body .section .activity ul li.activity-item .activity-banner img {
          width: 100%; }
      html body .section .activity ul li.activity-item .activity-desc {
        height: 340px;
        width: 460px;
        float: left;
        font-size: 12px;
        position: relative;
        line-height: 35px;
        padding-left: 20px;
        padding-top: 25px;
        background-color: #fff;
        border-bottom-right-radius: 5px; }
        html body .section .activity ul li.activity-item .activity-desc .out-time {
          position: absolute;
          top: 25px;
          right: 0;
          padding-left: 10px;
          width: 135px;
          background-color: #ff5500;
          color: #fff;
          font-size: 14px;
          line-height: 32px; }
          html body .section .activity ul li.activity-item .activity-desc .out-time::before, html body .section .activity ul li.activity-item .activity-desc .out-time::after {
            position: absolute;
            top: 0;
            left: -16px;
            content: '';
            display: block;
            width: 0;
            height: 0;
            border-width: 8px;
            border-style: solid;
            border-color: #ff5500 #ff5500 transparent transparent; }
          html body .section .activity ul li.activity-item .activity-desc .out-time::after {
            top: 16px;
            border-color: transparent #ff5500 #ff5500 transparent; }
        html body .section .activity ul li.activity-item .activity-desc .activity-title {
          font-size: 16px;
          font-weight: bold; }
        html body .section .activity ul li.activity-item .activity-desc .activity-city {
          color: #ff5500; }
        html body .section .activity ul li.activity-item .activity-desc .activity-hot-info {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          height: 58px;
          border-top: 1px solid #e6e6e6;
          padding-top: 10px; }
          html body .section .activity ul li.activity-item .activity-desc .activity-hot-info .publish-time {
            float: left;
            width: 240px;
            padding-left: 20px; }
            html body .section .activity ul li.activity-item .activity-desc .activity-hot-info .publish-time img {
              position: relative;
              top: 2px; }
html body .section .focus img {
  vertical-align: middle; }
html body .gap-block {
  width: 1190px;
  margin: 0 auto;
  height: 80px;
  border-radius: 5px;
  background-color: #f19149;
  margin: 10px auto 20px auto; }
html body footer {
  background-color: #333; }
  html body footer .footer {
    width: 1190px;
    margin: 0 auto;
    color: #ccc;
    text-align: center;
    font-size: 12px; }
    html body footer .footer .aboutus {
      font-size: 16px;
      padding: 30px 0 45px 0; }
      html body footer .footer .aboutus a {
        color: #ccc; }
      html body footer .footer .aboutus span {
        margin: 0 10px; }
    html body footer .footer .copyright span {
      margin: 0 10px; }
    html body footer .footer .reference {
      padding: 10px 0; }
      html body footer .footer .reference span {
        margin: 0 8px; }
    html body footer .footer .approve {
      padding: 40px 0 60px 0; }

/*# sourceMappingURL=new-file-base.css.map */
