@charset "UTF-8";
/* 资讯 base 扩展于 base 之上 */
.models {
  background-color: #e6e6e6;
}

.models .model {
  width: 1190px;
  margin: 0 auto;
}

.models .model .model-name {
  height: 56px;
  padding: 20px 0 10px 0;
}

.models .model .model-name .model-name-title {
  position: relative;
  display: block;
  color: #000;
  font-size: 16px;
  float: left;
  margin: 0 10px 0 0;
  padding-left: 20px;
  text-align: center;
}

.models .model .model-name .model-name-title::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 3px;
  height: 100%;
  background: #ff5500;
}

.models .model .model-name ul {
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.models .model .model-name ul li {
  display: inline-block;
  font-size: 14px;
  color: #b3b3b3;
  margin-left: 15px;
  line-height: 18px;
}

.models .model .model-name a {
  color: #808080;
}

.models .model .model-name a.more {
  color: #ff5500;
}

.models .model .model-name a.more span {
  position: relative;
  top: -1px;
}

.models .model .models-list {
  font-size: 0;
  margin-left: -10px;
}

.models .model .models-list .model-item {
  display: inline-block;
  width: 164px;
  height: 120px;
  overflow: hidden;
  border-radius: 3px;
  overflow: hidden;
  font-size: 12px;
  margin: 0 0 7px 7px;
  background-color: #fff;
  color: #333;
  position: relative;
}

.models .model .models-list .model-item > a img {
  width: 164px;
  height: 120px;
}

.models .model .models-list .model-item:hover {
  border: 1px solid #ff5500;
}

.models .model .models-list .model-item:hover > a img {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.models .model .models-list .model-item p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 10px 0;
  text-indent: 10px;
}

.models .model .models-list .model-item p.pet-name {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30px;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0px 0px 3px 3px;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 30px;
  letter-spacing: 0px;
  color: #ffffff;
  text-align: center;
}

.models .model .models-list .model-item .model-action {
  padding: 0 10px;
  margin-bottom: 10px;
}

.models .model .models-list .model-item .model-action .focus img {
  vertical-align: middle;
}

.models .model .models-list .model-item .model-action img {
  vertical-align: middle;
}

.models .model .dogs-btn {
  margin-left: -13px;
  font-size: 0;
}

.models .model .dogs-btn a.btn.btn-default {
  font-size: 14px;
  border: solid 1px #b3b3b3;
  width: 90px;
  height: 30px;
  margin: 0 0 10px 10px;
}

.models .model .dogs-btn a.btn.btn-theme {
  font-size: 14px;
  width: 90px;
  height: 30px;
  margin: 0 0 10px 10px;
}

.models.pet-service .model .models-list .model-item {
  width: 164px;
  height: 180px;
}

.models.pet-service .model .models-list .model-item > a img {
  height: 180px;
}

.filter-news {
  width: 1190px;
  margin: 0 auto;
  margin-top: 20px;
  line-height: 26px;
  font-family: SimHei;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  color: #333333;
}

.filter-news .filter {
  margin-bottom: 1px;
}

.filter-news .filter .flex {
  background-color: #fff;
}

.filter-news .filter .filter-title {
  padding: 6px 0;
  font-size: 16px;
  background-color: #fff;
  width: 80px;
  line-height: 38px;
  background-color: #f2f2f2;
  text-align: center;
}

.filter-news .filter .flex-item {
  padding: 6px 0;
  background-color: #fff;
}

.filter-news .filter .flex-item span {
  margin-left: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  display: inline-block;
  line-height: 26px;
  text-align: center;
}

.filter-news .filter .flex-item span.active {
  color: #ff5500;
}

.filter-news .filter .flex-item .un-limited {
  line-height: 38px;
}

.filter-news .filter .flex-item .un-limited span {
  width: 50px;
  height: 26px;
}

.filter-news .filter .flex-item .un-limited span.active {
  color: #fff;
  background-color: #ff5500;
  border-radius: 4px;
}

.filter-news .filter .flex-item .show-all {
  padding: 6px 10px 6px 10px;
  color: #ff5500;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.filter-news .filter .flex-item .show-all i.fa {
  color: #808080;
}

.filter-news .filter .flex-item .show-all .hide-filter {
  display: none;
}

.filter-news .filter .flex-item .show-all.show .show-filter {
  display: none;
}

.filter-news .filter .flex-item .show-all.show .hide-filter {
  display: block;
}

.module-title {
  width: 1190px;
  margin: 0 auto;
  font-size: 16px;
  color: #333333;
  margin: 14px auto;
  position: relative;
  padding-left: 17px;
}

.module-title.tips::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 3px;
  height: 15px;
  background-color: #ff5500;
}

.module-title span.active {
  color: #ff5500;
}

.module-title span.pull-right {
  font-size: 12px;
}

.news-module-search {
  width: 1190px;
  margin: 0 auto;
}

.news-module-search .modules-list {
  margin-left: -10px;
  font-size: 0;
}

.module-item {
  margin-left: 10px;
  margin-bottom: 10px;
  display: inline-block;
  width: 290px;
  font-size: 14px;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
}

.module-item .item-logo {
  width: 100%;
  height: 240px;
  overflow: hidden;
}

.module-item .item-logo .logo {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-animation: all 2s;
          animation: all 2s;
}

.module-item .item-gap {
  width: 270px;
  height: 1px;
  background-color: #e6e6e6;
  margin: 0 auto;
}

.module-item .item-desc {
  color: #333333;
  padding: 10px 10px 5px;
}

.module-item .item-price {
  color: #fe0000;
  padding: 5px 10px 10px;
}

.module-item .item-addr {
  color: #808080;
  padding: 10px 10px 5px;
}

.module-item .item-evaluate {
  color: #808080;
  padding: 5px 10px;
}

.module-item .item-evaluate img {
  position: relative;
  top: 3px;
}

.module-item .item-evaluate .sale-month {
  margin-left: 10px;
}

.module-item:hover .logo {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.module-item:hover .item-desc, .module-item:hover .item-addr {
  color: #ff5500;
}

.news-module-search-one {
  width: 1190px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.news-module-search-one .search-one {
  width: 900px;
  float: left;
}

.news-module-search-one .search-one .module-title {
  width: 100%;
}

.news-module-search-one .search-one .search-module-list {
  border-radius: 5px;
  overflow: hidden;
}

.news-module-search-one .search-one .search-module-list .search-item-pace {
  background-color: #fff;
  margin-bottom: 1px;
  padding: 10px 20px 10px 10px;
  font-size: 16px;
  color: #1a1a1a;
}

.news-module-search-one .search-one .search-module-list .search-item-pace .search-logo {
  margin-right: 20px;
}

.news-module-search-one .search-one .search-module-list .search-item-pace .search-logo img {
  display: block;
}

.news-module-search-one .search-one .search-module-list .search-item-pace .res-price {
  color: #ff5500;
  margin: 8px 0 14px 0;
}

.news-module-search-one .search-one .search-module-list .search-item-pace .pet-sale {
  font-size: 14px;
  margin-bottom: 14px;
}

.news-module-search-one .search-one .search-module-list .search-item-pace .pet-status {
  font-size: 14px;
}

.news-module-search-one .search-one .search-module-list .search-item-pace .pet-store {
  color: #ff5500;
}

.news-module-search-one .search-one .search-module-list .search-item-pace .btn {
  margin: 0;
  margin-top: 14px;
}

.news-module-search-one .hot-recommend {
  float: left;
}

.hot-recommend {
  width: 280px;
  margin-top: 46px;
  margin-left: 10px;
  border-radius: 5px;
  overflow: hidden;
  font-size: 0;
}

.hot-recommend .title {
  padding: 10px;
  color: #4d4d4d;
  background-color: #fff;
}

.hot-recommend .title img {
  position: relative;
  top: 3px;
  margin-right: 10px;
}

.hot-recommend .module-item {
  margin: 0;
  width: 280px;
  border-radius: 0;
  padding: 10px;
  margin-top: 1px;
}

.hot-recommend .module-item .item-logo {
  height: 195px;
}

.hot-recommend .module-item .price {
  color: #ff5500;
}
