@import url(../css/font-awesome-4.7.0/css/font-awesome.min.css);
@import url(./normalize.css);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: #4d4d4d; }
  a:hover {
    color: #ff5500; }

input {
  outline: none;
  padding: 10px; }
  input[type='button'] {
    cursor: pointer; }
    input[type='button']:hover {
      opacity: 0.8; }

ul {
  list-style: none; }

.themecolor {
  color: #ff5500; }

.themebg {
  background-color: #ff5500; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.fz12 {
  font-size: 12px; }

.fz14 {
  font-size: 14px; }

.fz16 {
  font-size: 16px; }

.fz18 {
  font-size: 18px; }

.fz20 {
  font-size: 20px; }

body {
  background-color: #e6e6e6;
  font-family: 'yahei'; }

.flex {
  display: flex; }
  .flex .flex-item {
    flex: 1; }

html body header {
  width: 1190px;
  margin: 0 auto;
  height: 38px;
  line-height: 38px;
  color: #4d4d4d;
  background-color: #e6e6e6; }
  html body header .place-select {
    float: left; }
    html body header .place-select img {
      position: relative;
      top: 5px; }
    html body header .place-select select {
      border: none;
      background-color: inherit;
      -webkit-highlight-color: none;
      outline: none; }
  html body header .nav-site {
    display: flex;
    float: left;
    list-style: none; }
    html body header .nav-site li {
      margin-left: 18px; }
      html body header .nav-site li a {
        color: #4d4d4d;
        text-decoration: none; }
        html body header .nav-site li a.themecolor {
          color: #ff5500; }
  html body header .usr-help {
    width: 301px;
    font-size: 0; }
    html body header .usr-help .usr {
      float: left;
      font-size: 12px; }
      html body header .usr-help .usr img {
        position: relative;
        top: 3px; }
    html body header .usr-help .help {
      font-size: 12px; }
      html body header .usr-help .help a {
        margin-left: 24px; }
html body .search {
  background-color: #fff; }
  html body .search .site-search {
    width: 1190px;
    margin: 0 auto;
    height: 100px;
    color: #b3b3b3; }
    html body .search .site-search .logo {
      margin-top: 24px; }
    html body .search .site-search .search-publish {
      width: 800px;
      padding-top: 24px; }
      html body .search .site-search .search-publish .search-area {
        float: left;
        position: relative;
        font-size: 0; }
        html body .search .site-search .search-publish .search-area input[type='text'] {
          height: 40px;
          width: 500px;
          font-size: 16px;
          border: 2px solid #ff5500; }
          html body .search .site-search .search-publish .search-area input[type='text']:focus + span {
            display: none; }
        html body .search .site-search .search-publish .search-area input[type='button'] {
          width: 100px;
          color: #fff;
          font-size: 16px;
          background-color: #ff5500;
          border: 1px solid #ff5500; }
        html body .search .site-search .search-publish .search-area span {
          font-size: 16px;
          position: absolute;
          left: 12px;
          top: 10px;
          width: 20px;
          height: 20px; }
        html body .search .site-search .search-publish .search-area .hot-search {
          font-size: 12px;
          margin-top: 8px; }
          html body .search .site-search .search-publish .search-area .hot-search a {
            color: #b3b3b3; }
      html body .search .site-search .search-publish .publish input {
        margin-left: 100px;
        width: 100px;
        font-size: 16px;
        color: #fff;
        background-color: #ff5500;
        border: 1px solid #ff5500; }
html body .section.page-inside-nav {
  background-color: #fff; }
  html body .section.page-inside-nav .inside-nav {
    width: 1190px;
    margin: 0 auto;
    display: flex;
    list-style: none;
    font-size: 18px;
    color: #1a1a1a; }
    html body .section.page-inside-nav .inside-nav li {
      display: inline-block;
      margin-left: 30px;
      height: 45px;
      line-height: 45px; }
      html body .section.page-inside-nav .inside-nav li:first-child {
        margin-left: 0; }
      html body .section.page-inside-nav .inside-nav li a {
        color: #1a1a1a;
        display: block; }
        html body .section.page-inside-nav .inside-nav li a.active {
          color: #ff5500;
          position: relative;
          height: 100%;
          width: 100%;
          font-size: 20px; }
          html body .section.page-inside-nav .inside-nav li a.active::before {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 3px;
            background-color: #ff5500; }
html body .section .search-choose {
  width: 1190px;
  margin: 0 auto;
  margin-top: 10px; }
  html body .section .search-choose .use-filter {
    text-align: right;
    margin-bottom: 10px; }
    html body .section .search-choose .use-filter a {
      display: inline-block;
      width: 100px;
      height: 30px;
      line-height: 30px;
      background-color: #fff;
      color: #000;
      border-radius: 3px;
      text-align: center; }
  html body .section .search-choose .filter-detail {
    background-color: #fff;
    color: #666;
    font-size: 14px;
    line-height: 20px; }
    html body .section .search-choose .filter-detail .filter-class {
      padding: 12px 0 12px 0px;
      border-top: 1px solid #e6e6e6; }
      html body .section .search-choose .filter-detail .filter-class.filtered {
        border: none; }
        html body .section .search-choose .filter-detail .filter-class.filtered .filter-title {
          color: #666; }
        html body .section .search-choose .filter-detail .filter-class.filtered .filter-item a {
          position: relative;
          border: 1px solid #ff5500;
          border-radius: 3px; }
          html body .section .search-choose .filter-detail .filter-class.filtered .filter-item a::before {
            content: '';
            width: 10px;
            height: 10px;
            background-image: url("../img/close.png");
            background-size: contain;
            background-repeat: no-repeat;
            position: absolute;
            top: 5px;
            right: 4px; }
      html body .section .search-choose .filter-detail .filter-class .filter-title {
        width: 64px;
        text-align: center;
        color: #ff5500;
        position: relative;
        line-height: 30px; }
        html body .section .search-choose .filter-detail .filter-class .filter-title::before {
          content: '';
          display: block;
          width: 2px;
          height: 10px;
          background-color: #666;
          position: absolute;
          top: 10px;
          right: 0; }
      html body .section .search-choose .filter-detail .filter-class .filter-item a {
        display: inline-block;
        padding: 0px 16px 0px 4px;
        margin: 5px 0px 5px 20px;
        color: #666; }
      html body .section .search-choose .filter-detail .filter-class .hide-more {
        width: 80px;
        padding-left: 20px;
        color: #ff5500; }
        html body .section .search-choose .filter-detail .filter-class .hide-more a {
          color: #ff5500; }
          html body .section .search-choose .filter-detail .filter-class .hide-more a:hover {
            color: #666; }
        html body .section .search-choose .filter-detail .filter-class .hide-more .fa-angle-up {
          display: none; }
        html body .section .search-choose .filter-detail .filter-class .hide-more.hiding a {
          color: #666; }
          html body .section .search-choose .filter-detail .filter-class .hide-more.hiding a:hover {
            color: #ff5500; }
        html body .section .search-choose .filter-detail .filter-class .hide-more.hiding .fa-angle-down {
          display: none; }
        html body .section .search-choose .filter-detail .filter-class .hide-more.hiding .fa-angle-up {
          display: inline-block; }
html body .section.models {
  background-color: #e6e6e6; }
  html body .section.models .model {
    width: 1190px;
    margin: 0 auto; }
    html body .section.models .model .model-name {
      height: 56px;
      padding: 20px 0 10px 0; }
      html body .section.models .model .model-name .model-name-title {
        position: relative;
        display: block;
        color: #000;
        font-size: 16px;
        float: left;
        margin: 0 10px 0 0;
        width: 60px;
        padding-left: 20px;
        text-align: center; }
        html body .section.models .model .model-name .model-name-title::before {
          content: '';
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          width: 3px;
          height: 100%;
          background: #ff5500; }
      html body .section.models .model .model-name ul {
        float: left;
        display: flex;
        list-style: none; }
        html body .section.models .model .model-name ul li {
          display: inline-block;
          font-size: 14px;
          color: #b3b3b3;
          margin-left: 15px;
          line-height: 18px; }
      html body .section.models .model .model-name a {
        color: #808080; }
        html body .section.models .model .model-name a.more {
          color: #ff5500; }
          html body .section.models .model .model-name a.more span {
            position: relative;
            top: -1px; }
    html body .section.models .model .models-list {
      font-size: 0;
      margin-left: -10px; }
      html body .section.models .model .models-list .model-item {
        display: inline-block;
        width: 230px;
        border-radius: 4px;
        overflow: hidden;
        font-size: 12px;
        margin: 0 0 10px 10px;
        background-color: #fff;
        color: #333; }
        html body .section.models .model .models-list .model-item p {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          margin: 10px 0;
          text-indent: 10px; }
        html body .section.models .model .models-list .model-item .model-action {
          padding: 0 10px;
          margin-bottom: 10px; }
          html body .section.models .model .models-list .model-item .model-action .focus img {
            vertical-align: middle; }
          html body .section.models .model .models-list .model-item .model-action img {
            vertical-align: middle; }
html body .section .model .model-name a.more {
  font-size: 12px;
  color: #333333 !important; }
html body .section .pagenation {
  height: 40px;
  width: 760px;
  margin: 20px auto; }
  html body .section .pagenation .pagenation-btn-box {
    width: 560px;
    position: relative;
    line-height: 38px;
    padding: 0 80px;
    float: left; }
    html body .section .pagenation .pagenation-btn-box .pagenation-btn {
      border: 1px solid #b3b3b3;
      border-radius: 3px;
      font-size: 14px;
      text-align: center;
      color: #808080;
      margin: 0 5px;
      background-color: #fff;
      cursor: pointer; }
      html body .section .pagenation .pagenation-btn-box .pagenation-btn.disable {
        color: #ccc;
        border: 1px solid #ccc; }
      html body .section .pagenation .pagenation-btn-box .pagenation-btn.active {
        color: #fff;
        background-color: #ff5500;
        border: 1px solid #ff5500; }
    html body .section .pagenation .pagenation-btn-box.first .pre {
      color: #ccc;
      border: 1px solid #ccc; }
    html body .section .pagenation .pagenation-btn-box.last .next {
      color: #ccc;
      border: 1px solid #ccc; }
    html body .section .pagenation .pagenation-btn-box .pre, html body .section .pagenation .pagenation-btn-box .next {
      position: absolute;
      left: 0;
      top: 0;
      width: 70px; }
    html body .section .pagenation .pagenation-btn-box .next {
      left: auto;
      right: 0; }
  html body .section .pagenation .flex-item {
    max-width: 40px; }
  html body .section .pagenation .pagenation-jump {
    float: right;
    color: #808080;
    line-height: 38px;
    font-size: 12px; }
    html body .section .pagenation .pagenation-jump .all-page {
      float: left; }
    html body .section .pagenation .pagenation-jump input {
      border: 1px solid #b3b3b3;
      width: 28px;
      height: 20px;
      padding: 2px;
      color: #808080;
      text-align: center;
      border-radius: 3px; }
    html body .section .pagenation .pagenation-jump button {
      border: 1px solid #b3b3b3;
      width: 40px;
      height: 20px;
      padding: 2px;
      color: #808080;
      text-align: center;
      border-radius: 3px;
      outline: none;
      cursor: pointer; }
html body .ad {
  display: block;
  width: 100%;
  width: 1190px;
  margin: 0 auto; }
  html body .ad img {
    margin: 20px 0 30px 0; }
html body .ad img {
  margin-top: 0; }
html body footer {
  background-color: #333; }
  html body footer .footer {
    width: 1190px;
    margin: 0 auto;
    color: #ccc;
    text-align: center;
    font-size: 12px; }
    html body footer .footer .aboutus {
      font-size: 16px;
      padding: 30px 0 45px 0; }
      html body footer .footer .aboutus a {
        color: #ccc; }
      html body footer .footer .aboutus span {
        margin: 0 10px; }
    html body footer .footer .copyright span {
      margin: 0 10px; }
    html body footer .footer .reference {
      padding: 10px 0; }
      html body footer .footer .reference span {
        margin: 0 8px; }
    html body footer .footer .approve {
      padding: 40px 0 60px 0; }

/*# sourceMappingURL=search.css.map */
