@import url(../../css/font-awesome-4.7.0/css/font-awesome.min.css);
@import url(../normalize.css);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: #4d4d4d; }
  a:hover {
    color: #ff5500; }

input {
  outline: none;
  padding: 10px; }
  input[type='button'] {
    cursor: pointer; }
    input[type='button']:hover {
      opacity: 0.8; }

ul {
  list-style: none; }

.clearfix {
  overflow: auto;
  zoom: 1; }

.btn {
  border: 1px solid #4d4d4d;
  color: #4d4d4d;
  background-color: #fff;
  font-size: 14px;
  display: inline-block;
  margin: 15px;
  width: 100px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 3px; }
  .btn.btn-theme, .btn .theme-btn {
    border: 1px solid #ff5500;
    color: #fff;
    background-color: #ff5500; }

.themecolor {
  color: #ff5500; }

.themebg {
  background-color: #ff5500; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.fz12 {
  font-size: 12px; }

.fz14 {
  font-size: 14px; }

.fz16 {
  font-size: 16px; }

.fz18 {
  font-size: 18px; }

.fz20 {
  font-size: 20px; }

body {
  background-color: #e6e6e6;
  font-family: 'yahei'; }

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .flex .flex-item {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1; }

.page-inside-nav {
  background-color: #fff; }
  .page-inside-nav .inside-nav {
    width: 1190px;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    font-size: 18px;
    color: #1a1a1a; }
    .page-inside-nav .inside-nav li {
      display: inline-block;
      margin-left: 30px;
      height: 45px;
      line-height: 45px; }
      .page-inside-nav .inside-nav li:first-child {
        margin-left: 0; }
      .page-inside-nav .inside-nav li a {
        color: #1a1a1a;
        display: block; }
        .page-inside-nav .inside-nav li a.active {
          color: #ff5500;
          position: relative;
          height: 100%;
          width: 100%;
          font-size: 20px; }
          .page-inside-nav .inside-nav li a.active::before {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 3px;
            background-color: #ff5500; }

.ad {
  display: block;
  width: 100%;
  width: 1190px;
  margin: 0 auto; }
  .ad img {
    margin: 20px 0 30px 0; }

.footer {
  width: 1190px;
  margin: 0 auto;
  color: #ccc;
  text-align: center;
  font-size: 12px; }
  .footer .aboutus {
    font-size: 16px;
    padding: 30px 0 45px 0; }
    .footer .aboutus a {
      color: #ccc; }
    .footer .aboutus span {
      margin: 0 10px; }
  .footer .copyright span {
    margin: 0 10px; }
  .footer .reference {
    padding: 10px 0; }
    .footer .reference span {
      margin: 0 8px; }
  .footer .approve {
    padding: 40px 0 60px 0; }

html body header {
  width: 1190px;
  margin: 0 auto;
  height: 38px;
  line-height: 38px;
  color: #4d4d4d;
  background-color: #e6e6e6; }
  html body header .place-select {
    float: left; }
    html body header .place-select img {
      position: relative;
      top: 5px; }
    html body header .place-select select {
      border: none;
      background-color: inherit;
      -webkit-highlight-color: none;
      outline: none; }
  html body header .nav-site {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    float: left;
    list-style: none; }
    html body header .nav-site li {
      margin-left: 18px; }
      html body header .nav-site li a {
        color: #4d4d4d;
        text-decoration: none; }
        html body header .nav-site li a.themecolor {
          color: #ff5500; }
  html body header .usr-help {
    width: 310px;
    font-size: 0; }
    html body header .usr-help .usr {
      float: left;
      font-size: 12px; }
      html body header .usr-help .usr img {
        position: relative;
        top: 3px; }
    html body header .usr-help .help {
      font-size: 12px; }
      html body header .usr-help .help a {
        margin-left: 24px; }
html body .search {
  background-color: #fff; }
  html body .search .site-search {
    width: 1190px;
    margin: 0 auto;
    height: 100px;
    color: #b3b3b3; }
    html body .search .site-search .logo {
      margin-top: 24px; }
    html body .search .site-search .search-publish {
      width: 800px;
      padding-top: 24px; }
      html body .search .site-search .search-publish .search-area {
        float: left;
        position: relative;
        font-size: 0; }
        html body .search .site-search .search-publish .search-area input[type='text'] {
          height: 40px;
          width: 500px;
          font-size: 16px;
          border: 2px solid #ff5500;
          float: left; }
          html body .search .site-search .search-publish .search-area input[type='text']:focus + span {
            display: none; }
        html body .search .site-search .search-publish .search-area input[type='button'] {
          width: 100px;
          color: #fff;
          font-size: 16px;
          background-color: #ff5500;
          border: 1px solid #ff5500; }
        html body .search .site-search .search-publish .search-area span {
          font-size: 16px;
          position: absolute;
          left: 12px;
          top: 10px;
          width: 20px;
          height: 20px; }
        html body .search .site-search .search-publish .search-area .hot-search {
          font-size: 12px;
          margin-top: 8px; }
          html body .search .site-search .search-publish .search-area .hot-search a {
            color: #b3b3b3; }
      html body .search .site-search .search-publish .publish input {
        margin-left: 100px;
        width: 100px;
        font-size: 16px;
        color: #fff;
        background-color: #ff5500;
        border: 1px solid #ff5500; }
html body .section .entrust-lose {
  width: 1190px;
  margin: 0 auto; }
  html body .section .entrust-lose .entrust-lose-list {
    float: left; }
    html body .section .entrust-lose .entrust-lose-list .entrust-lose-item {
      width: 880px;
      padding: 10px;
      border-radius: 5px;
      background-color: #fff;
      height: 200px;
      margin-bottom: 10px; }
      html body .section .entrust-lose .entrust-lose-list .entrust-lose-item .entrust-lose-pet-log {
        float: left;
        width: 270px;
        height: 180px; }
        html body .section .entrust-lose .entrust-lose-list .entrust-lose-item .entrust-lose-pet-log img {
          display: block;
          width: 100%;
          height: 100%; }
      html body .section .entrust-lose .entrust-lose-list .entrust-lose-item .entrust-lose-desc {
        float: left;
        width: 587px;
        font-size: 14px;
        padding-left: 20px;
        color: #1a1a1a;
        line-height: 26px; }
        html body .section .entrust-lose .entrust-lose-list .entrust-lose-item .entrust-lose-desc .pet-name .loaction-city img {
          position: relative;
          top: 3px;
          margin: 0 5px 0 15px; }
        html body .section .entrust-lose .entrust-lose-list .entrust-lose-item .entrust-lose-desc .pet-kind .age {
          margin-left: 30px; }
        html body .section .entrust-lose .entrust-lose-list .entrust-lose-item .entrust-lose-desc .pet-medicine, html body .section .entrust-lose .entrust-lose-list .entrust-lose-item .entrust-lose-desc .pet-desc, html body .section .entrust-lose .entrust-lose-list .entrust-lose-item .entrust-lose-desc .see-details {
          font-size: 12px; }
        html body .section .entrust-lose .entrust-lose-list .entrust-lose-item .entrust-lose-desc .pet-desc {
          line-height: 14px; }
        html body .section .entrust-lose .entrust-lose-list .entrust-lose-item .entrust-lose-desc .see-details {
          margin: 10px 0;
          text-align: right; }
          html body .section .entrust-lose .entrust-lose-list .entrust-lose-item .entrust-lose-desc .see-details a {
            display: inline-block;
            background-color: #ff5500;
            border: 1px solid #ff5500;
            color: #fff;
            height: 20px;
            width: 100px;
            line-height: 20px;
            text-align: center;
            border-radius: 3px;
            margin: 0; }
        html body .section .entrust-lose .entrust-lose-list .entrust-lose-item .entrust-lose-desc .model-action {
          width: 300px; }
          html body .section .entrust-lose .entrust-lose-list .entrust-lose-item .entrust-lose-desc .model-action img {
            position: relative;
            top: 2px; }
          html body .section .entrust-lose .entrust-lose-list .entrust-lose-item .entrust-lose-desc .model-action .placeholder {
            margin-right: 20px; }
          html body .section .entrust-lose .entrust-lose-list .entrust-lose-item .entrust-lose-desc .model-action .flex-item {
            text-align: center; }
  html body .section .entrust-lose .guess-like {
    float: left;
    padding-left: 10px;
    color: #4c4c4c; }
    html body .section .entrust-lose .guess-like .title {
      margin-bottom: 10px;
      background-color: #fff;
      border-radius: 5px;
      line-height: 40px;
      font-size: 16px;
      padding-left: 20px; }
    html body .section .entrust-lose .guess-like .guess-list {
      font-size: 14px; }
      html body .section .entrust-lose .guess-like .guess-list .guess-item {
        position: relative;
        border-radius: 5px;
        overflow: hidden;
        margin-bottom: 10px; }
        html body .section .entrust-lose .guess-like .guess-list .guess-item .pet-image {
          display: block; }
        html body .section .entrust-lose .guess-like .guess-list .guess-item .guess-desc {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          background-color: rgba(0, 0, 0, 0.2);
          height: 40px;
          line-height: 40px;
          padding: 0 10px; }
          html body .section .entrust-lose .guess-like .guess-list .guess-item .guess-desc .fire {
            float: right; }
            html body .section .entrust-lose .guess-like .guess-list .guess-item .guess-desc .fire img {
              position: relative;
              top: 8px;
              margin-right: 10px; }
        html body .section .entrust-lose .guess-like .guess-list .guess-item:hover .guess-desc {
          background-color: #ff5500;
          color: #fff;
          opacity: 0.7; }
html body .section .pagenation {
  height: 40px;
  width: 760px;
  margin: 20px auto; }
  html body .section .pagenation .pagenation-btn-box {
    width: 560px;
    position: relative;
    line-height: 38px;
    padding: 0 80px;
    float: left; }
    html body .section .pagenation .pagenation-btn-box .pagenation-btn {
      border: 1px solid #b3b3b3;
      border-radius: 3px;
      font-size: 14px;
      text-align: center;
      color: #808080;
      margin: 0 5px;
      background-color: #fff;
      cursor: pointer; }
      html body .section .pagenation .pagenation-btn-box .pagenation-btn.disable {
        color: #ccc;
        border: 1px solid #ccc; }
      html body .section .pagenation .pagenation-btn-box .pagenation-btn.active {
        color: #fff;
        background-color: #ff5500;
        border: 1px solid #ff5500; }
    html body .section .pagenation .pagenation-btn-box.first .pre {
      color: #ccc;
      border: 1px solid #ccc; }
    html body .section .pagenation .pagenation-btn-box.last .next {
      color: #ccc;
      border: 1px solid #ccc; }
    html body .section .pagenation .pagenation-btn-box .pre, html body .section .pagenation .pagenation-btn-box .next {
      position: absolute;
      left: 0;
      top: 0;
      width: 70px; }
    html body .section .pagenation .pagenation-btn-box .next {
      left: auto;
      right: 0; }
  html body .section .pagenation .flex-item {
    max-width: 40px; }
  html body .section .pagenation .pagenation-jump {
    float: right;
    color: #808080;
    line-height: 38px;
    font-size: 12px; }
    html body .section .pagenation .pagenation-jump .all-page {
      float: left; }
    html body .section .pagenation .pagenation-jump input {
      border: 1px solid #b3b3b3;
      width: 28px;
      height: 20px;
      padding: 2px;
      color: #808080;
      text-align: center;
      border-radius: 3px; }
    html body .section .pagenation .pagenation-jump button {
      border: 1px solid #b3b3b3;
      width: 40px;
      height: 20px;
      padding: 2px;
      color: #808080;
      text-align: center;
      border-radius: 3px;
      outline: none;
      cursor: pointer; }
html body footer {
  background-color: #333; }

/*# sourceMappingURL=entrust.css.map */