&.banner{
	position: relative;
	min-height: 400px;
	.community-banner{
		.swiper-slide{
			img{
				display: block;
				width: 100%;
				position: relative;
				height:400px;
				width: 1920px;
				// left:50%;
				// margin-left:-50%;
			}
		}
	}
	.swiper-pagination{
		position: absolute;
		bottom: 20px;
		width: 300px;
		left: 50%;
		margin-left:-150px;
		text-align:center;
		span{
			&.swiper-pagination-bullet{
				width: 14px;height: 14px;
				background: #fff;
				opacity:1;
				margin-left: 15px;
			}
			&.swiper-pagination-bullet-active{
				background:$themecolor;
			}
		}
	}
	
}