.pagenation{
	height: 40px;width: 760px;
	margin: 20px auto;
	.pagenation-btn-box{
		width: 560px;
		position: relative;
		line-height: 38px;
		padding: 0 80px;
		float: left;

		.pagenation-btn{
			border:1px solid #b3b3b3;
			border-radius:3px;
			font-size: 14px;
			text-align:center;
			color:#808080;
			margin: 0 5px;
			background-color: #fff;
			cursor:pointer;
			&.disable{
				color:#ccc;
				border:1px solid #ccc;
			}
			&.active{
				color:#fff;
				background-color: $themecolor;
				border:1px solid $themecolor;
			}
		}
		&.first{
			.pre{
				color:#ccc;
				border:1px solid #ccc;
			}
		}
		&.last{
			.next{
				color:#ccc;
				border:1px solid #ccc;
			}
		}
		.pre,.next{
			position: absolute;
			left: 0;top: 0;
			width: 70px;
		}
		.next{
			left:auto;
			right: 0;
		}
	}
	.flex-item{
		max-width:40px;
	}
	.pagenation-jump{
		float: right;
		color:#808080;
		line-height: 38px;
		font-size: 12px;
		.all-page{
			float: left;
		}
		input{
			border:1px solid #b3b3b3;
			width: 28px;height: 20px;
			padding: 2px;
			color:#808080;
			text-align:center;
			border-radius:3px;
		}
		button{
			border:1px solid #b3b3b3;
			width: 40px;height: 20px;
			padding: 2px;
			color:#808080;
			text-align:center;
			border-radius:3px;
			outline:none;
			cursor:pointer;
		}
	}
}
