@import "site-config.scss";
*{
	box-sizing:border-box;
	margin: 0;padding: 0;
}
a{
	text-decoration:none;
	color:$headtextcolor;
	&:hover{
		color:$themecolor;
	}
	&.btn-theme{
		color:$themecolor;
	}
	&.btn-darken{
		color: $darktext;
	}
}
input{
	outline:none;
	padding: 10px;
	&[type='button']{
		cursor:pointer;
		&:hover{
			opacity:0.8;
		}
	}
}
.pretty--label{margin:0;display:inline-block}
.pretty--radio{display:none}
.pretty--radioInput{background-color:#fff;border:1px solid rgba(0,0,0,0.15);border-radius:100%;display:inline-block;height:14px;margin-right:10px;margin-top:-1px;vertical-align:middle;width:14px;line-height:1}
.pretty--radio:checked + .pretty--radioInput:after{background-color:#fff;border-radius:50%;content:"";display:inline-block;height:8px;width:8px;border:3px solid $themecolor;margin: -1px;}
// .pretty--checkbox.pretty--radioInput,.pretty--radio:checked + .pretty--checkbox.pretty--radioInput:after{border-radius:0}
ul{
	list-style:none;
}
.clearfix {
  overflow: auto;
  zoom: 1;
}
.line-gap{
	height: 1px;
	width: 100%;
	background-color: #e6e6e6;
}
.btn{
	border:1px solid #4d4d4d;
	color:#4d4d4d;
	background-color: #fff;
	font-size: 14px;
	display: inline-block;
	margin: 15px;
	width: 100px;
	height: 30px;
	line-height: 30px;
	text-align:center;
	border-radius:3px;
	&.btn-theme,.theme-btn{
		border:1px solid $themecolor;
		color:#fff;
		background-color: $themecolor;

	}
}
.section{
	// background-color: #fff;
}
.themecolor{
	color:$themecolor;
}
.themebg{
	background-color: $themecolor;
}
.pull-left{
	float: left;
}
.pull-right{
	float: right;
}
// font-size
.fz12{
	font-size: 12px;
}
.fz14{
	font-size: 14px;
}
.fz16{
	font-size: 16px;
}
.fz18{
	font-size: 18px;
}
.fz20{
	font-size: 20px;
}
// body color
body{
	background-color: $bodybackground;
	font-family:'yahei';
}
.flex{
	display:flex;
	.flex-item{
		flex:1;
	}
}
@import "pretty-select-input.scss";
