header {
	@include manwidth();
	height: 38px;
	line-height: 38px;
	color:$headtextcolor;
	background-color: $topheadbackgound;
	.place-select{
		float: left;
		position: relative;
		padding-right: 4px;
		padding-left: 4px;
		user-select: none;

		img{
			position: relative;
			top: 5px;
		}
		.fa{
			font-size: 10px;
			margin-left: 2px;
			display: inline-block;
			position: relative;
			top: -3px;
		}
		.location-all{
			display: none;
			position: absolute;
			top: 38px;left: -1px;
			background-color: #fff;
			width: 220px;
			z-index:20;
			border:1px solid #e6e6e6;
			border-top:none;
			font-size: 12px;
			user-select:none;
			.location.selected{
				padding: 0 10px;
				border-bottom:1px solid #e6e6e6;
				position: relative;
				span{
					color:$themecolor;
					border:1px solid #e6e6e6;
					border-bottom:1px solid #fff;
					padding: 4px 8px;
					position: relative;
					top: 7px;
					z-index:11;
					cursor:pointer;
				}
				.cancle-change-city{
					position: absolute;
					right: 10px;top: 10px;
					color:$themecolor;
					font-size: 16px;
					cursor:pointer;
				}
				&.second{
					span{
						&:first-child{
							border-bottom:none;
						}
					}
				}
			}
			.location.items{
				padding: 0 10px;
				span{
					cursor:pointer;
					display: inline-block;
					padding: 4px 10px;
				}

			}
		}
		&.selecting{
			background-color: #fff;
			.location-all{
				display: block;
			}
			.fa-sort-desc{
				transform:rotate(180deg);
				color:$themecolor;
			}
		}
	}
	.nav-site{
		display:flex;
		float: left;
		list-style:none;
		li{
			margin-left: 18px;
			a{
				color:$headtextcolor;
				text-decoration:none;
				&.themecolor{
					color:$themecolor;
				}
			}
		}
	}
	.usr-help{
		width: 310px;
		font-size: 0;
		.usr{
			float: left;
			font-size: 12px;
			img{
				position: relative;
				top: 3px;
			}
		}
		.help{
			font-size: 12px;

			a{
				margin-left: 24px;
			}
		}
	}
}
